@import url("https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@700&display=swap");

:root {
  --clr-gray: #838688;
  --clr-green: #39b54a;
  --fnt-light: #fff;
  --fnt-dark: #000;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  overflow-x: hidden;
}

.cont {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  color: var(--fnt-light);
  letter-spacing: 6px;
  font-weight: 600;
}

h1 {
  font-size: clamp(50px, 10vw, 78px);
}

h2 {
  font-size: clamp(30px, 4vw, 52px);
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 1.3em;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: clamp(24px, 5vw, 30px);
}

h4 {
  font-size: clamp(15px, 4vw, 17px);
  color: var(--clr-green);
  text-align: center;

  margin: 0;
}

h5 {
  font-size: clamp(12px, 6vw, 14px);
  color: var(--clr-green);
}

p {
  font-size: clamp(17px, 4vw, 24px);
  line-height: 1.7em;
}

* {
  box-sizing: border-box;
}

section,
header {
  overflow-y: auto;
}

.line {
  display: block;
  width: 50%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 40px auto;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*===================== Start Header====================*/

header {
  position: relative;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
}

.logo {
  width: 90px;
  margin: 50px;
  cursor: pointer;
}

header h4 {
  color: var(--clr-gray);
  text-align: left;
}

header h2 {
  font-size: clamp(35px, 6vw, 62px);
  text-align: left;
}

header .cont {
  display: grid;
  grid-template:
    "." 10vh
    "txt" auto
    "txt" auto
    "." 10vh
    "btn" auto;
}

header:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("./../imgs/hero-bg.jpg.webp") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btns-cont {
  display: flex;
}

.btn {
  justify-self: center;
  width: 30%;
  min-width: 260px;
  font-family: "Raleway", sans-serif;
  background: none;
  font-size: 13px;
  padding: 20px 40px;
  border-radius: 0;
  border: 2px solid #fff;
  margin: 20px 30px 0 0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  color: #000;
  background: #fff;
}

.social-links {
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-area: link;
  color: var(--fnt-light);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 95%;
}

.social-links li {
  list-style-type: none;
  margin: 12px 0;
}

.link {
  --w-: 40px;
  display: flex;
  height: var(--w-);
  width: var(--w-);
  border: 2px solid var(--fnt-light);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  color: var(--fnt-light);
}

.link:hover {
  border: none;
  background: var(--clr-green);
  color: var(--fnt-dark);
}

.link .icon {
  font-size: 22px;
}

/*===================== End Header====================*/

/*===================== Start About====================*/

.about {
  background: var(--clr-green);
  overflow: hidden;
}

section .cont,
footer .cont {
  padding-top: 20vh;
}

.about h4 {
  color: var(--fnt-dark);
}

.about h1 {
  margin: 0;
  text-align: center;
}

.about p {
  margin: auto;
  /* width: 85%; */
  text-align: center;
}

.counters-cont {
  list-style-type: none;
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.counters-cont li {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.counters-cont li:last-of-type {
  border: none;
}
.counters-cont .counter {
  display: block;
  border: none;
  font-size: clamp(60px, 5vw, 80px);
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
}

.counters-cont li h4 {
  letter-spacing: 1.2px;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  font-weight: bold;
  white-space: nowrap;
}
/*===================== End About====================*/

/*===================== Start Services====================*/

.services {
  background: #fff;
  padding-bottom: 20vh;
}

.services h2 {
  color: #000;
}

.services .line {
  border-color: rgba(0, 0, 0, 0.2);
}

.services main {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 60px 100px;
}

.one-service {
  display: grid;
  grid-template-columns: auto 80%;
  grid-template-areas: "icon div";
  grid-gap: 0 40px;
}

.one-service .icon {
  grid-area: icon;
  font-size: clamp(35px, 8vw, 48px);
  color: var(--clr-green);
  justify-self: center;
}

.one-service div {
  grid-area: div;
}

.one-service div h3 {
  color: #000;
  margin: 0;
  white-space: nowrap;
}

.one-service div p {
  font-size: clamp(14px, 7vw, 17px);
  line-height: 1.9em;
  color: var(--clr-gray);
}

/*===================== End Services====================*/

/*===================== Start Work====================*/

.work {
  position: relative;
  padding-bottom: 20vh;
  background: #fff;
}

.work .overlay {
  position: absolute;
  width: 100%;
  height: 85vh;
  background: #000;
  top: 0;
  left: 0;
  z-index: 1;
}

.work .cont {
  position: relative;
  z-index: 2;
}

/*==gallery=*/

.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-gap: 0;
  overflow: hidden;
}

.card {
  width: 100%;
  max-height: 560px;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.card-info {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
}

.card-info span {
  color: #fff;
  display: flex;
  height: 80%;
  font-size: 34px;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.card-info .link {
  transform: translate(0, -40px);
  opacity: 0;
}

.card-info section {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate(0, 40px);
  background: transparent;
}

.card-info h5 {
  margin: 10px 0 0;
  color: #72706f;
  letter-spacing: normal;
}

.card-info h4 {
  text-align: left;
  color: #fff;
  letter-spacing: normal;
  text-transform: uppercase;
}

.card-info section,
.card-info {
  transition: all 0.2s ease-in-out;
}

.card-info:hover * {
  opacity: 1;
  transform: translate(0, 0);
}

.card-info:hover {
  background: rgba(0, 0, 0, 0.8);
}

/*===Gallery==*/

/*=====================End Work====================*/

/*=====================Start Clients====================*/

.clients {
  overflow: hidden;
  background: #e6e6e6;
  padding-bottom: 20vh;
}

.clients h2 {
  color: #000;
}

/*=====================End Clients====================*/

/*=====================Start Contact====================*/

.contact {
  position: relative;
  padding-bottom: 20vh;
  background: url("./../imgs/contact-back.webp") no-repeat center center;
}

.contact .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #151515;
  z-index: 1;
  opacity: 0.8;
}

.contact .cont {
  position: relative;
  z-index: 2;
}

.project {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 70% 30%;
}

.project form {
  background: rgba(0, 0, 0, 0.2);
  padding: 40px 60px 60px;
  border-radius: 0;
}

main h5 {
  color: #fff;
  letter-spacing: 0.3em;
}

.project form * {
  display: block;
  width: 100%;
  margin: 25px 0 0;
}

.inp {
  --txt-clr: rgba(255, 255, 255, 0.2);
  font-family: Arial;
  background: none;
  border: none;
  border-bottom: 1px solid var(--txt-clr);
  font-size: clamp(16px, 6vw, 20px);
  padding: 12px;
  color: #fff;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.inp::placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-weight: lighter;
  font-size: clamp(11px, 6vw, 16px);
}

.inp:focus {
  border-color: var(--clr-green);
}

form textarea {
  height: 30vh;
  max-height: 260px;
}

.submit {
  background: var(--clr-green);
  color: #fff;
  border: none;
}

.project aside {
  background: #121212;
  padding: 40px;
}

aside article {
  margin-top: 40px;
}

.sub-parag {
  color: rgba(255, 255, 255, 0.4);
  font-size: clamp(13px, 5vw, 17px);
  letter-spacing: 0.1em;
}

aside h4 {
  text-align: left;
  letter-spacing: normal;
}

.social-inside {
  position: relative;
  flex-direction: row;
  top: 0;
  left: 0;
  padding: 20px 0;
  justify-content: flex-start;
}
.social-inside a .icon {
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.social-inside li {
  margin: 0 24px 0 0;
  cursor: pointer;
}

.social-inside li:hover a .icon {
  color: var(--clr-green);
}

/*=====================End Contact====================*/

/*=====================Start Footer====================*/
footer {
  background: #111;
}

footer .cont {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 45% 40%;
}

footer article {
  display: grid;
  grid-auto-rows: 60px auto;
}

footer img {
  width: 100px;
}

.notify {
  width: 100%;
  display: grid;
  grid-template-columns: 12% 50% 38%;
  background: #000;
}

.notify .icon-span {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notify .inp {
  width: 100%;
  height: 100%;
  border: none;
}

.notify .submit {
  min-width: auto;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

.Copyright {
  padding: 8vh 0;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}

.Copyright span {
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Copyright span:hover {
  color: var(--clr-green);
}

/*=====================End Footer====================*/

@media screen and (max-width: 1024px) {
  .counters-cont {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .counters-cont li:nth-child(2) {
    border: none;
  }

  .services main {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 60px 50px;
  }
  .one-service {
    grid-template-columns: auto 80%;
    grid-gap: 0 20px;
  }

  .one-service h3 {
    font-size: 24px;
  }

  .project aside {
    padding: 20px;
  }
}

@media screen and (max-width: 900px) {
  .project {
    grid-template-columns: 1fr;
  }
  .project aside,
  .project form {
    padding: 40px;
  }
  aside article {
    width: 100%;
  }
  footer .cont {
    grid-template-columns: 45% 50%;
  }
}

@media screen and (max-width: 800px) {
  .cont {
    padding: 0 20px;
  }
  .services main {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 60px 50px;
  }

  .social-links {
    display: none;
  }

  footer .cont {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 620px) {
  .logo {
    margin: 20px;
  }
  header h2,
  header h4 {
    text-align: center;
  }
  header .cont {
    grid-template:
      "." 10vh
      "txt" auto
      "txt" auto
      "." 10vh
      "btn" auto;
  }
  .btns-cont {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn {
    margin: 10px 0;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .project aside,
  .project aside *,
  .project form {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-height: 680px) {
  header .cont {
    grid-template:
      "." 5vh
      "txt" auto
      "txt" auto
      "." 5vh
      "btn" auto;
  }
}

@media screen and (max-width: 400px) {
  .cont {
    padding: 0 20px;
  }
  section .cont,
  footer .cont {
    padding-top: 10vh;
  }
  header .cont {
    grid-template:
      "." 10vh
      "txt" auto
      "txt" auto
      "." 5vh
      "btn" auto;
  }
  header h2 {
    font-size: clamp(26px, 4vw, 40px);
  }

  .counters-cont {
    grid-template-columns: 1fr;
  }
  .counters-cont li,
  .counters-cont li:nth-child(2) {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .counters-cont li:last-of-type {
    border: none;
  }

  .one-service {
    grid-template-columns: 1fr;
    grid-template-areas: "icon" "div";
    grid-gap: 20px;
  }

  .one-service .icon {
    font-size: clamp(45px, 8vw, 58px);
  }

  .one-service div h3,
  .one-service div p {
    text-align: center;
  }

  .project form,
  .project aside {
    padding: 20px 10px;
  }

  .notify .icon-span {
    display: none;
  }
  .notify {
    width: 100%;
    display: grid;
    grid-template-columns: 60% auto;
    background: #000;
  }
}
